#s-f40a0191-e0da-4025-b189-505fd4591d48 > #backgroundBox {
  position: absolute;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1280.0px;
  max-height: 720.0px;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Image_1 {
  position: absolute;
  width: 1280.0px;
  height: 720.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Image_1 {
  box-shadow: none;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #shapewrapper-s-Line_1 marker {
  fill: #E2202C;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 234.97605458381275px;
  height: 15.0px;
  filter: none;
  -webkit-transform: rotate(-161.59143672284753deg);
  -moz-transform: rotate(-161.59143672284753deg);
  transform: rotate(-161.59143672284753deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Line_1 {
  width: 234.97605458381275px;
  height: 15.0px;
  stroke-width: 3px;
  stroke: #E2202C;
}

_:-ms-fullscreen, :root #s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Line_1 {
  box-shadow: none;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 {
  position: absolute;
  width: 292.0px;
  min-height: 92.99999999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 {
  box-shadow: 7.071067811865475px 7.0710678118654755px 5px 0px #404040;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E2202C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E2202C;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E2202C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E2202C;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #shapewrapper-s-Line_2 marker {
  fill: #E2202C;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 194.0px;
  height: 15.0px;
  filter: none;
  -webkit-transform: rotate(-22.075287799572763deg);
  -moz-transform: rotate(-22.075287799572763deg);
  transform: rotate(-22.075287799572763deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Line_2 {
  width: 194.0px;
  height: 15.0px;
  stroke-width: 3px;
  stroke: #E2202C;
}

_:-ms-fullscreen, :root #s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Line_2 {
  box-shadow: none;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 {
  box-shadow: none;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f40a0191-e0da-4025-b189-505fd4591d48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
